@font-face {
  font-family: 'My-Font';
  src: url(./assets/AmericanTypewriter.ttc);
}

body {
  font-family: 'My-Font', sans-serif;
  background-image: url('./images/fond.jpg'); 
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: right top;
  background-attachment: fixed;
}

.main-container {
  margin: auto;
  margin-top: 70px;
  max-width: 600px;
  padding: 20px;
}

h1 {
  font-size: 70px;
  margin-bottom: 10px;
  text-align: center;
  color: #5f45ae;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tabs button {
  width: 300px;
  padding: 8px 16px;
  border: 1px solid  #959998;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f0f0f0;
}

.tabs button.active {
  background-color: #22c48b;
  color: white;
}

.tabs button:hover {
  background-color: #22c48b;
  color: white;
}

.task-entry {
  height: 35px;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.task-input {
  padding: 8px;
  flex-grow: 1;
  border: 1px solid #737575;
  border-radius: 4px;
}

.add-task-button {
  padding: 8px 16px;
  background-color: #22c48b;
  color: white;
  border: 1px solid #737575;
  border-radius: 4px;
  cursor: pointer;
}

.add-task-button:hover {
  background-color:  #1a9b6e;
}

.task-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 8px;
}

.task-checkbox {
  cursor: pointer;
}

.task-text {
  flex-grow: 1;
}

.completed .task-text {
  text-decoration: line-through;
  color: #888;
}

.delete-button {
  padding: 4px 8px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #cc0000;
}