@font-face {
  font-family: 'My-Font';
  src: url(./assets/AmericanTypewriter.ttc);
}

body {
  display: flex;
  justify-content: center;
  font-family: 'My-Font', sans-serif;
  background-image: url('./images/black-concrete-wall.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  background-attachment: fixed;
}

.main-container {
  margin: auto;
  margin-top: 70px;
  max-width: 50%;
  padding: 20px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  white-space: nowrap;
  text-align: center;
  color: #22c48b;
}

.tabs {
  margin: auto;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tabs button {
  width: 300px;
  padding: 8px 16px;
  border: 1px solid  #959998;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f0f0f0;
}

.tabs button.active {
  background-color: #22c48b;
  color: white;
}

.tabs button:hover {
  background-color: #22c48b;
  color: white;
}

.task-entry-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.task-entry {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.task-input {
  padding: 8px;
  flex-grow: 1;
  border: 1px solid #737575;
  border-radius: 4px;
}

@media (max-width: 600px) {
  .task-entry,
  .add-task-button {
    width: 100%;
  }
}

.add-task-button {
  padding: 8px 16px;
  background-color: #22c48b;
  color: white;
  border: 1px solid #737575;
  border-radius: 4px;
  cursor: pointer;
}

.add-task-button:hover {
  background-color:  #1a9b6e;
}

.task-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 8px;
  background-color: whitesmoke;
  word-break: break-word;
  overflow-wrap: break-word;
}

.task-checkbox {
  cursor: pointer;
}

.task-text {
  flex-grow: 1; 
}

.completed .task-text {
  color: #888;
}

.delete-button {
  padding: 4px 8px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}

.delete-button:hover {
  background-color: #cc0000;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 10%;
  height: 10%;
  background: whitesmoke;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modal-content button {
  margin-top:auto;
  width: 70%;
  height: 40%;
  padding: 8px 16px;
  background: #42b983;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.paragraph {
  font-size: 100%;
  font: caption;
}

.modal-content button:hover {
  background-color: #369f6e;
}

@keyframes snake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.snake {
  animation: snake 0.4s ease-in-out;
}

.emoji {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji-content {
  width: 20%;
  height: 20%;
  background: whitesmoke;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.done {
  font-size: 100%;
  font: caption;
}

.gif {
  width: 70%;
  height: 70%;
}

.remove {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.delete {
  font-size: 1.2rem;
  font-weight: bold;
}

/*@keyframes emoji {
  0% { opacity: 0; transform: scale(0); }
  50% { opacity: 1; transform: scale(1.2); }
  100% { opacity: 0; transform: scale(0); }
}

.emoji::before {
  content: "\1F389";
  animation: emoji 0.5s ease-in-out;
}*/